
body {
    background-color:white;
}

.container {
    max-width: 800px;
    background-color:lightblue;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invalid{
    display: block;
    color: red;
}
h1{
    color:red;
    
}
.myclass {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mybutton {
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    margin: auto;
   background-color:yellowgreen;
}